body{
    background-color: #13151D;
    color: rgb(209, 202, 202);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
.first_section{
    max-width: 1100px;
    margin: 0 auto;
}
.container1{
    display: block;
    height: 500px;
}
.header{
    max-height: 100px;
    padding: 0px 50px;
    margin: 0 auto;
    background-color: #090a0e;
}
.logo{
    display: inline-block;
    padding: 8px 0px;
}
.logo img{
    width: 150px;
}
.menu{
    display: inline-block;
    float: right;
    padding-top: 10px;
}
.menu ul{
    list-style: none;
    padding-top: 7px;
}
.menu li{
    display: inline;
    margin: 0;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: rgb(209, 202, 202);
    padding: 10px 20px;
}
.menu a:hover{
    background-color: #0e0f14;
}
.menu li button{
    padding: 11px 20px;
    cursor: pointer;
    background-color: rgb(49, 49, 223);
    border: none;
    color: white;
    border-radius: 5px;
}
.menu li button:hover{
    background-color: rgb(49, 49, 223);
}
.intro{
    display: block;
    width: 50%;
    float: left;
    padding: 20px;
}
.intro h2{
    font-size: 36px;
    padding-top: 80px;
}
.intro p{
    font-size: 16px;
}
.intro button{
    padding: 10px 30px;
    cursor: pointer;
    background-color: rgb(49, 49, 223);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: bold;
}
.intro h6{
    font-size: 16px;
    font-weight: bold;
}
.app-preview1{
    float: right;
    width: 40%;
    display: block;
    padding: 20px;
}
.app-preview1 img{
    height: 390px;
    float: right;
    padding-top: 80px;
}
.container2{
    position: absolute;
    padding: 40px 0px;
}
.app-preview2{
    width: 40%;
    float: left;
    display: block;
}
.app-preview2 img{
    height: 390px;
    float: left;
}
.about-section{
    float: right;
    width: 60%;
}
.about-section h2{
    font-size: 36px;
    margin: 0;
}
.about-section p{
    font-size: 16px;
}
.card{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.card i{
    color: #2cbe85;
    font-size: 46px;
    margin-right: 22px;
}
.card h4{
    font-size: 21px;
    margin: 0;
}
.card2{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.card2 i{
    color: #2cbe85;
    font-size: 46px;
    margin-right: 22px;
}
.card2 h4{
    font-size: 21px;
    margin: 0;
}